* {
    margin: 0;
    padding: 0;
}

button {
    width: fit-content;
}

/**
Layout
**/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 90%;
    flex: 1;
}

/**
Library Display
**/
.library-display {
    display: flex;
    flex-direction: column;
}

.library-table {
    width: 100%;
}

.library-table,
.library-row,
tr,
td {
    border: solid 1px black;
}

.delete-btn {
    color: red;
}

.book-read-input {
    display: none;
}

.book-read-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
}

.book-read-input:checked~.book-read-slider {
    background-color: antiquewhite;
}

.book-read-slider::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 16px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: inset 28px -4px 0px 0px #d8dbe0;
    background-color: #28292c;
    transition: 0.3s;
}

.book-read-input:checked~.book-read-slider::before {
    transform: translateX(95px);
    background-color: #28292c;
    box-shadow: none;
}

/**
New Book Button and Form
**/
.new-book-btn {
    align-self: flex-end;
}

.new-book-form {
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: space-between;

    margin: 0 auto;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    display: none;
}

.form-row {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.form-row-right {
    justify-content: flex-end;
}

.readStatusFieldSet {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.close-form-link {
    color: gray;
    padding: 5px;
    text-decoration: none;
    border: solid 0.5px gray;
}